<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    
</head>

<body>
    <div class="wrapper">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <h1>Login</h1>
            <div class="input-box">
                <input type="text" placeholder="Enter your Email" formControlName="Email" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="Password" placeholder="Enter your Password" formControlName="Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox">Remember Me</label>
                <a href="#">Forgot Password</a>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="register-link">
                <p>Not a member? <a href="/SignUp">Signup Now</a></p>
            </div>
        </form>
    </div>
</body>

</html> -->
<body>
    

<div class="login-container">
    <div class="login-content">
        <mat-toolbar class="login-toolbar" color="primary">Login</mat-toolbar>
        <mat-card>
            <form [formGroup]="loginForm" #formDirective="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <mat-icon matPrefix></mat-icon>
                        <input matInput type="text" formControlName="Email" />
                        <mat-error *ngIf="
                          loginForm.get('Email')?.errors &&
                          (loginForm.get('Email')?.dirty ||
                          loginForm.get('Email')?.touched)
                        ">
                            <span *ngIf="loginForm.get('Email')?.errors?.['required']">Name is required.</span>
                            <span *ngIf="loginForm.get('Email')?.errors?.['minlength']">Minimum length should be
                                3.</span>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <mat-icon matPrefix></mat-icon>
                        <input matInput type="password" formControlName="Password" />
                        <mat-error *ngIf="
                          loginForm.get('Password')?.errors &&
                          (loginForm.get('Password')?.dirty ||
                          loginForm.get('Password')?.touched)
                        ">
                            <span *ngIf="loginForm.get('Password')?.errors?.['required']">Password is required.</span>
                            <span *ngIf="loginForm.get('Password')?.errors?.['minlength']">Minimum length should be
                                6.</span>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div style="align-items: center;">
                    <button type="submit" mat-raised-button color="primary" class="login-button">LOGIN</button>
                </div>
            </form>

            <div class="register-link">
                <span>If You don't have an account yet please <a routerLink='/signup'>REGISTER HERE</a></span>
            </div>
        </mat-card>
    </div>
</div>

    
</body>